@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}
.content {
  text-align: center;
}

.Ex {
  font-weight: medium;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ddd;
  width: 5%;
}

.IDtable {
  font-weight: medium;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ddd;
  width: 3%;
}

.Nametable {
  font-weight: medium;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ddd;
  width: 3%;
}

.catetable {
  font-weight: medium;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ddd;
  width: 1%;
}

.numtable {
  font-weight: medium;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ddd;
  width: 1%;
}

.actable {
  font-weight: medium;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ddd;
  width: 1%;
}

.px-6.py-4 {
  border: 1px solid #ddd;
}

* {
  box-sizing: border-box;
}

.button {
  margin-left: -15px;
  margin-top: 5%;
}

.box {
  padding: 12px 10px;
  font-size: 14px;
  background: #eee;
  text-align: center;
}

.non {
  margin-left: 2%;

}



.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 50px auto;
  padding: 25px;
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  padding: 25px;
  background: #C2C2C2;
  ;
  font-weight: bold;
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  background: #E3E3E3;
  ;
  order: 1;
  display: none;
}

.mytabs .tab h2 {
  font-size: 3em;
}

.mytabs input[type='radio']:checked+label+.tab {
  display: block;
}

.mytabs input[type="radio"]:checked+label {
  background: #E3E3E3;
  ;
}

ิ.boxtext {
  background-color: #4f5165;
  border-radius: 10px;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 33px;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 35px;
  margin-right: 5%;
}

.close1 {
  width: 150px;
  height: 40px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}