body {
  margin: 0;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5385;
  color: #333;
  text-align: left;
}

.mt-50{

  margin-top: 50px;
}

.mb-50{

  margin-bottom: 50px;
}



.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .1875rem;
}

@media (min-width: 576px){
.blog-horizontal .card-img-actions {
  width: 45%;
  float: left;
  max-width: 25rem;
  z-index: 10;
}
}

a{
  text-decoration: none !important;
}


.course-button{
     border: 1px solid #007bff;
  padding: 5px;
  background-color: #007bff;
  padding-right: 10px;
  padding-top: 3px;
  color: #fff;
  border-radius: 3px;
}

.course-button:hover{
  color: #fff;
}
.slider{
  width: 800px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 100px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 200px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 170px;
}

.navigation-auto div{
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #ffffffc6;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #ffffffc6;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #ffffffc6;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #ffffffc6;
}
      