@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;500&display=swap');

html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: linear-gradient(180deg, #015C92 0%, rgba(163, 216, 232, 0.99) 100%);
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: calc(100% - 18px);    
    max-width: 100%;
    box-shadow: none;
    background: #015d92d0;
    position: fixed;
    height: 80px!important;
    overflow: hidden;
}

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}

#sidebarMenu {
    height: 85%;
    position: fixed;
    user-select: none;
    left: 0.5%;
    top: 4.5%;
    border-radius: 18px;
    width: 220px;
    margin-top: 60px;
    transform: translateX(-260px);
    transition: transform 250ms ease-in-out;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.iconimg{
    height: 60%; 
    margin-left: 20%; 
    margin-right: 10%;
}
.logoimg{
    height: 90%; 
    margin-left: 8%; 
    margin-right: 10%;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0);
}
.sidebarMenuInner li{
    list-style: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    height: 50px;
    padding: 1%;
    border-bottom: 1px solid rgba(102, 102, 102, 0.218);
}

.sidebarMenuInner li span{
    color: #3b3b3b;
    font-size: 15px;
    font-weight: 400;
 
    white-space: nowrap;
    
}
.sidebarMenuInner li a{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

}
.frame {
    height: 100%;
  }
.sidebarMenuInner .log_out{
    position: absolute;
    bottom: 0%;
    width: 98%;
    border-radius: 0px 0px 20px 20px ;
}

.sidebarMenuInner li:hover{
    background: rgba(0, 0, 0, 0.10);
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 26px;
    left: 35px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 4px;
    width: 150%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 5px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 5px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 10px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -14px;
}
